<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>nodes</key>
	<array>
		<dict>
			<key>x</key>
			<integer>113</integer>
			<key>y</key>
			<integer>269</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>44</integer>
			<key>y</key>
			<integer>339</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>231</integer>
			<key>y</key>
			<integer>180</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>52</integer>
			<key>y</key>
			<integer>141</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>500</integer>
			<key>y</key>
			<integer>105</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>636</integer>
			<key>y</key>
			<integer>104</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>818</integer>
			<key>y</key>
			<integer>110</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>907</integer>
			<key>y</key>
			<integer>301</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>530</integer>
			<key>y</key>
			<integer>572</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>662</integer>
			<key>y</key>
			<integer>535</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>758</integer>
			<key>y</key>
			<integer>484</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>481</integer>
			<key>y</key>
			<integer>492</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>649</integer>
			<key>y</key>
			<integer>386</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>294</integer>
			<key>y</key>
			<integer>368</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>447</integer>
			<key>y</key>
			<integer>285</integer>
		</dict>
	</array>
</dict>
</plist>
