<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>nodes</key>
	<array>
		<dict>
			<key>level</key>
			<integer>0</integer>
			<key>png</key>
			<string>tags.png</string>
			<key>key</key>
			<integer>1000</integer>
			<key>x</key>
			<integer>113</integer>
			<key>y</key>
			<integer>269</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>0</integer>
			<key>png</key>
			<string>tags.png</string>
			<key>key</key>
			<integer>1001</integer>
			<key>x</key>
			<integer>44</integer>
			<key>y</key>
			<integer>339</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>0</integer>
			<key>png</key>
			<string>tags.png</string>
			<key>key</key>
			<integer>1002</integer>
			<key>x</key>
			<integer>231</integer>
			<key>y</key>
			<integer>180</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>0</integer>
			<key>png</key>
			<string>tags.png</string>
			<key>key</key>
			<integer>1003</integer>
			<key>x</key>
			<integer>52</integer>
			<key>y</key>
			<integer>141</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>0</integer>
			<key>png</key>
			<string>tags.png</string>
			<key>key</key>
			<integer>1004</integer>
			<key>x</key>
			<integer>500</integer>
			<key>y</key>
			<integer>105</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>0</integer>
			<key>png</key>
			<string>tags.png</string>
			<key>key</key>
			<integer>1005</integer>
			<key>x</key>
			<integer>636</integer>
			<key>y</key>
			<integer>104</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>0</integer>
			<key>png</key>
			<string>tags.png</string>
			<key>key</key>
			<integer>1006</integer>
			<key>x</key>
			<integer>818</integer>
			<key>y</key>
			<integer>110</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>0</integer>
			<key>png</key>
			<string>tags.png</string>
			<key>key</key>
			<integer>1007</integer>
			<key>x</key>
			<integer>907</integer>
			<key>y</key>
			<integer>301</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>0</integer>
			<key>png</key>
			<string>tags.png</string>
			<key>key</key>
			<integer>1008</integer>
			<key>x</key>
			<integer>530</integer>
			<key>y</key>
			<integer>572</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>0</integer>
			<key>png</key>
			<string>tags.png</string>
			<key>key</key>
			<integer>1009</integer>
			<key>x</key>
			<integer>662</integer>
			<key>y</key>
			<integer>535</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>0</integer>
			<key>png</key>
			<string>tags.png</string>
			<key>key</key>
			<integer>1010</integer>
			<key>x</key>
			<integer>758</integer>
			<key>y</key>
			<integer>484</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>0</integer>
			<key>png</key>
			<string>tags.png</string>
			<key>key</key>
			<integer>1011</integer>
			<key>x</key>
			<integer>481</integer>
			<key>y</key>
			<integer>492</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>0</integer>
			<key>png</key>
			<string>tags.png</string>
			<key>key</key>
			<integer>1012</integer>
			<key>x</key>
			<integer>649</integer>
			<key>y</key>
			<integer>386</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>0</integer>
			<key>png</key>
			<string>tags.png</string>
			<key>key</key>
			<integer>1013</integer>
			<key>x</key>
			<integer>294</integer>
			<key>y</key>
			<integer>368</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>0</integer>
			<key>png</key>
			<string>tags.png</string>
			<key>key</key>
			<integer>1014</integer>
			<key>x</key>
			<integer>447</integer>
			<key>y</key>
			<integer>285</integer>
		</dict>
	</array>
	<key>resource</key>
	<array>
		<dict>
			<key>level</key>
			<integer>0</integer>
			<key>png</key>
			<string>tags.png</string>
			<key>key</key>
			<integer>1100</integer>
			<key>x</key>
			<integer>200</integer>
			<key>y</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>0</integer>
			<key>png</key>
			<string>tags.png</string>
			<key>key</key>
			<integer>1101</integer>
			<key>x</key>
			<integer>50</integer>
			<key>y</key>
			<integer>150</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>0</integer>
			<key>png</key>
			<string>tags.png</string>
			<key>key</key>
			<integer>1102</integer>
			<key>x</key>
			<integer>300</integer>
			<key>y</key>
			<integer>100</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>0</integer>
			<key>png</key>
			<string>tags.png</string>
			<key>key</key>
			<integer>1103</integer>
			<key>x</key>
			<integer>50</integer>
			<key>y</key>
			<integer>150</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>0</integer>
			<key>png</key>
			<string>tags.png</string>
			<key>key</key>
			<integer>1104</integer>
			<key>x</key>
			<integer>500</integer>
			<key>y</key>
			<integer>200</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>0</integer>
			<key>png</key>
			<string>tags.png</string>
			<key>key</key>
			<integer>1105</integer>
			<key>x</key>
			<integer>700</integer>
			<key>y</key>
			<integer>100</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>0</integer>
			<key>png</key>
			<string>tags.png</string>
			<key>key</key>
			<integer>1106</integer>
			<key>x</key>
			<integer>800</integer>
			<key>y</key>
			<integer>200</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>0</integer>
			<key>png</key>
			<string>tags.png</string>
			<key>key</key>
			<integer>1107</integer>
			<key>x</key>
			<integer>900</integer>
			<key>y</key>
			<integer>400</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>0</integer>
			<key>png</key>
			<string>tags.png</string>
			<key>key</key>
			<integer>1108</integer>
			<key>x</key>
			<integer>600</integer>
			<key>y</key>
			<integer>670</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>0</integer>
			<key>png</key>
			<string>tags.png</string>
			<key>key</key>
			<integer>1109</integer>
			<key>x</key>
			<integer>670</integer>
			<key>y</key>
			<integer>820</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>0</integer>
			<key>png</key>
			<string>tags.png</string>
			<key>key</key>
			<integer>1110</integer>
			<key>x</key>
			<integer>888</integer>
			<key>y</key>
			<integer>484</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>0</integer>
			<key>png</key>
			<string>tags.png</string>
			<key>key</key>
			<integer>1111</integer>
			<key>x</key>
			<integer>481</integer>
			<key>y</key>
			<integer>520</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>0</integer>
			<key>png</key>
			<string>tags.png</string>
			<key>key</key>
			<integer>1112</integer>
			<key>x</key>
			<integer>472</integer>
			<key>y</key>
			<integer>386</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>0</integer>
			<key>png</key>
			<string>tags.png</string>
			<key>key</key>
			<integer>1113</integer>
			<key>x</key>
			<integer>350</integer>
			<key>y</key>
			<integer>368</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>0</integer>
			<key>png</key>
			<string>tags.png</string>
			<key>key</key>
			<integer>1114</integer>
			<key>x</key>
			<integer>447</integer>
			<key>y</key>
			<integer>340</integer>
		</dict>
	</array>
</dict>
</plist>
