<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>nodes</key>
	<array>
		<dict>
			<key>level</key>
			<integer>0</integer>
			<key>png</key>
			<string>tags.png</string>
			<key>key</key>
			<integer>1</integer>
			<key>x</key>
			<integer>113</integer>
			<key>y</key>
			<integer>269</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>0</integer>
			<key>png</key>
			<string>tags.png</string>
			<key>key</key>
			<integer>2</integer>
			<key>x</key>
			<integer>44</integer>
			<key>y</key>
			<integer>339</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>0</integer>
			<key>png</key>
			<string>tags.png</string>
			<key>key</key>
			<integer>3</integer>
			<key>x</key>
			<integer>231</integer>
			<key>y</key>
			<integer>180</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>0</integer>
			<key>png</key>
			<string>tags.png</string>
			<key>key</key>
			<integer>4</integer>
			<key>x</key>
			<integer>52</integer>
			<key>y</key>
			<integer>141</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>0</integer>
			<key>png</key>
			<string>tags.png</string>
			<key>key</key>
			<integer>5</integer>
			<key>x</key>
			<integer>500</integer>
			<key>y</key>
			<integer>105</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>0</integer>
			<key>png</key>
			<string>tags.png</string>
			<key>key</key>
			<integer>6</integer>
			<key>x</key>
			<integer>636</integer>
			<key>y</key>
			<integer>104</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>0</integer>
			<key>png</key>
			<string>tags.png</string>
			<key>key</key>
			<integer>7</integer>
			<key>x</key>
			<integer>818</integer>
			<key>y</key>
			<integer>110</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>0</integer>
			<key>png</key>
			<string>tags.png</string>
			<key>key</key>
			<integer>8</integer>
			<key>x</key>
			<integer>907</integer>
			<key>y</key>
			<integer>301</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>0</integer>
			<key>png</key>
			<string>tags.png</string>
			<key>key</key>
			<integer>9</integer>
			<key>x</key>
			<integer>530</integer>
			<key>y</key>
			<integer>572</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>0</integer>
			<key>png</key>
			<string>tags.png</string>
			<key>key</key>
			<integer>10</integer>
			<key>x</key>
			<integer>662</integer>
			<key>y</key>
			<integer>535</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>0</integer>
			<key>png</key>
			<string>tags.png</string>
			<key>key</key>
			<integer>11</integer>
			<key>x</key>
			<integer>758</integer>
			<key>y</key>
			<integer>484</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>0</integer>
			<key>png</key>
			<string>tags.png</string>
			<key>key</key>
			<integer>12</integer>
			<key>x</key>
			<integer>481</integer>
			<key>y</key>
			<integer>492</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>0</integer>
			<key>png</key>
			<string>tags.png</string>
			<key>key</key>
			<integer>13</integer>
			<key>x</key>
			<integer>649</integer>
			<key>y</key>
			<integer>386</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>0</integer>
			<key>png</key>
			<string>tags.png</string>
			<key>key</key>
			<integer>14</integer>
			<key>x</key>
			<integer>294</integer>
			<key>y</key>
			<integer>368</integer>
		</dict>
		<dict>
			<key>level</key>
			<integer>0</integer>
			<key>png</key>
			<string>tags.png</string>
			<key>key</key>
			<integer>15</integer>
			<key>x</key>
			<integer>447</integer>
			<key>y</key>
			<integer>285</integer>
		</dict>
	</array>
</dict>
</plist>
